* {
  margin: 0;
}

.genericCont {
  min-height: calc(100vh - 70px);
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.appLoadingDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.appLoadingLogo {
  height: 25vmin;
  pointer-events: none;
  margin-left: 20px;
  margin-right: 20px;
}

@media (prefers-reduced-motion: no-preference) {
  .appLoadingLogo {
    animation: appLoadingLogo infinite 1s linear;
  }
}

@keyframes appLoadingLogo {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
