.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  color: white;
}

.navLogoCont {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.navLogo {
  height: 4vmin;
  padding: 8px;
  pointer-events: none;
  margin-left: 20px;
  margin-right: 20px;
}

.navTitle {
  text-transform: uppercase;
}

.navInputLabel {
  color: white;
  margin-right: 20px;
}

.navInput {
  width: 300px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 100px;
  border: 2px solid white;
  background-color: black;
  color: white;
}
