.card {
  margin: 20px;
  padding: 20px;
  width: 1200px;
  min-height: 947px;
  border-radius: 10px;
  background-image: url("/resistance-background.jpg");
  background-position: 70px;
}

.cardHeaderCont {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  padding: 10px;

  font-size: 25px;
  font-weight: 600;
  text-transform: uppercase;
  color: brown;
}

.cardHeaderSub {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.cardLogo {
  margin-right: 20px;
  pointer-events: none;
}

.cardSubCont {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.ulNormal {
  padding: 0;
}

.labelNormal {
  color: rgb(42, 157, 165);
  padding: 10px;
  font-size: 17px;
}

.labelTitleCont {
  margin-top: 20px;
  margin-bottom: 20px;
}

.labelTitle {
  color: brown;
  padding: 10px 10px 40px 10px;
  text-transform: uppercase;
  font-weight: 500;
}

.liGroup {
  display: flex;
  flex-wrap: wrap;
}

.liNormal {
  list-style: none;
  padding: 10px;
  margin: 0px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: black;
}

.profilePic {
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 8px;
  opacity: 0.8;
}

.cardImageCont {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

@media (max-width: 830px) {
  .cardSubCont {
    flex-wrap: wrap;
  }
}
